/*section login */
#login {
 background-color: rgb(212, 67, 50);
}

/* background vista login */
.login {
  display: none;
}
/*Estilos de la sección home/ vista principal.*/

#welcome {
  display: none; /*vista ocutada*/
}
/*estilo textarea  */
#text-area {
  background: rgba(136, 255, 0,0.2);
  border: none;
  border: 2px solid black;
  font-size: 1em;
}


/*Estilos del perfil del usuario*/
#container-profile {
  display: none;
}
#img-perfil {
  border-radius: 50vw;
  width: 40%;
}

/*Estilos de la ventana de notificaciones*/
#container-notifications {
  display: none;
}
